.itme {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

#img {
    padding: 0px 50px;
}

.BTN {
    padding: 10px 30px;
    background: #FF5E13;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;
    border: none;
}